.weekDays-selector {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.weekDays-selector input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.weekDays-selector label {
  display: inline-block;
  background: #c9c9c9;
  height: 50px;
  width: 50px;
  margin-right: 22px;
  margin-left: 5px;
  margin-top: 20px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  user-select: none;
}

.weekDays-selector input:checked + label {
  background-color: #004e7a;
  color: white;
  transform: scale(1.2);
  transition: transform 80ms ease-in;
}

select {
  font-size: 20px;
  padding: 5px;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 50px 20px 20px 20px;
  margin: 15% 26% 0px;
  width: 600px;
}


table {
  text-align: left;
  width: 100%;
  padding: 20px 12px;
  font-weight: bold;
}
h1 {
  margin-bottom: 17px;
  text-align: center;
  border: none;
}
/* Full-width input fields */
button {
	border-radius: 20px;
	border: 1px solid white;
	background-color: #004e7a;
	color: #FFFFFF;
	font-size: 12px;
  padding-left: 50px;
	font-weight: bold;
	padding: 14px 50px ;
  margin: 1px;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}


input {
  background-color: #eee;
  padding: 13px 15px;
  margin: 9px 0px 3px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: left;
  text-size-adjust: 50px;
}