.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type=checkbox]+label {
  display: inline-block;
  border-radius: 3px;
  background: #c9c9c9;
  height: 30px;
  width: 30px;
  margin-right: 3px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked+label {
  background: #004e7a;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 30px;
}


.modal-content {
  background-color: #e6e6e6;
  margin: 10px auto ;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgb(0, 0, 0);
  width: 55%;
  /* Could be more or less, depending on screen size */
}

td {
  padding: 15px;
  margin: 0 auto;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.container {
  padding: 16px;
}

button {
  background-color: #004e7a;
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  width: 30%;
  font-size: 20px;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}


/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 120%;
  padding: 12px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}