.course-form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  margin-top: 9%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 46%;
  height: 74%;
}

#ss {
  background-color: #eee;
  padding: 13px 15px;
  border: none;
  margin: 5px 0px;
  border-radius: 20px;
  text-align: left;
  text-size-adjust: 50px;
  width: 100%;
  height: 75%;
}