
* {
    box-sizing: border-box;
    text-align: center;
    color: #004e7a;
}

body {
    background: -webkit-linear-gradient(to right, black, #004e7a);
    background: linear-gradient(to right, black, #004e7a);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.card {
    height: 500px;
    width: 420px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 0 18px;
}

button {
    border-radius: 20px;
    border: 1px solid white;
    background-color: #004e7a;
    color: #FFFFFF;
    font-size: 110%;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.card-img {
    width: 100%;
    height: 70%;
    background-size: cover;
}
