

/* Add padding to container elements */
.container {
  padding: 16px;
}


/* Modal Content/Box */
.modal-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  width: 48%;
  height: 75%;
  margin-top: 9%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

.bar {
  margin: 0px auto;
  height: 45px;
  width: 400px;
  border-radius: 25px;
  background-color: rgb(247, 247, 247);
  border: 0.5px solid #004d7a93;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.edit {
  height: 40px;
  width: 40px;
  margin: 3px;
  float: right;
  border: 0;
  background-color: transparent;
  background-size: cover;
}

.half{
  width: 145px;
  font-weight: bold;
}

.data{ 
  display: inline-block;
  padding: 10px ;
  font-size: 22px;
}


.btn {
  border-radius: 25px;
  border: 1px solid white;
  background-color: #004e7a;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 20px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}
