{%load static%}

<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="{%static 'style/login.css'%}">
</head>

<body>

    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form id="sign-in" method="POST">
                {% csrf_token %}
                <h1 style="margin-bottom: 5%;">Sign in</h1>
                <div class="input-control">
                    <input type="text" id="L-Email" name="Email" placeholder="Email">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <input type="password" id="L-Password" name="Password" placeholder="Password">
                    <div class="error"></div>
                </div>
                <div class="clearfix">
                    <button type="submit" class="addbtn" value="l" name="nl">Login</button>
                </div>
            </form>
        </div>
        

        <div class="form-container sign-up-container">
            <form id="sign-up" method="POST">
                {% csrf_token %}
                <h1 style="margin-bottom: 5%;"> Create Account</h1>
                <div class="input-control">
                    <input type="text" id="Name" name="Name" placeholder="Name">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <input type="text" id="Email" name="Email" placeholder="Email">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <input type="password" id="Password" name="Password" placeholder="Password">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <input type="password" id="Confrim-Password" name="Confrim-Password" placeholder="Confrim Password">
                    <div class="error"></div>
                </div>

                <div class="clearfix" onclick="">
                    <button type="submit" class="addbtn" value="s" name="ns">Register</button>
                </div>

            </form>
        </div>
        

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>

                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
                
            </div>
        </div>

    </div>

</body>

</html>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
        const form = document.getElementById('sign-up');
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
        const form = document.getElementById('sign-in');
    });
</script>