<nav>
    <ul>
        <li>
            <a href="{%url 'home'%}"  id = "page0">Home</a>
        </li>
        <li>
            <a href="{%url 'addCourse'%}" id = "page1"> add courses</a>
        </li>
        <li>
            <a href="{%url 'addStudent'%}" id = "page2"> add students</a>
        </li>
        <li>
            <a href="{%url 'courses'%}" id = "page3"> view courses</a>
        </li>
        <li>
            <a href="{%url 'students'%}" id = "page4">view students</a>
        </li>
        <li style="float: right;">
            <a href="{%url 'login'%}">Sign out</a>
        </li>
    </ul>
</nav>