{%extends 'original.html'%}

{%load static%}
{%block header%}
<title> Students </title>
<link rel="stylesheet" href="{%static 'style/view.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%endblock%}

{%block content%}
<div style="margin-top: 50px; padding: 35px 15px;">

    <div class="bar">
        <form>
            {% csrf_token %}

            <select id='sel'>
                <option value="id" selected> ID </option>
                <option value="name"> Name </option>
                <option value="department"> Depart </option>
                <option value="status"> Status </option>
            </select>

            <input class="searchbar" type="text" title="Search">
            <button class="search" type="submit" value="search"></button>
        </form>

    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Status</th>
                <th></th>
            </tr>

        </thead>
        <tbody id="myTable">
            {% for m in Student %}
            <tr>
                <td>{{m.id}}</td>
                <td>{{m.name}}</td>
                <td>{{m.department}}</td>
                <td>{{m.active}}</td>
                <td><a href='edit-students/{{m.id}}' style="text-decoration: none;" onclick="set(0)"> <button class="edit" value="edit"></button> </a> </td>
           </tr>
            {% endfor %}

        </tbody>

    </table>

</div>
<script src="{%static 'js/students.js'%}"></script>
{%endblock%}