{%extends 'original.html'%}

{%load static%}
{%block content1%}
<title> Add Course page </title>
<link rel="stylesheet" href="{%static 'style/add_courses.css'%}" >
<script src="{%static 'js/add_course.js'%}"></script>
{%endblock%}
{%block content2%}
<div>
    <form class="course-form" method="post" novalidate>
        <div class="container">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </form>
</div>
{%endblock%}