{%extends 'original.html'%}
{%load static%}
{%block content1%}
<title>Courses</title>
  <link rel="stylesheet" href="{%static 'style/view.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%endblock%}
{%block content2%}


  <div style="margin-top: 50px; padding: 35px 15px;">


    <div class="bar">

      <form>
        <select id="sel">

          <option value="ID"> ID </option>
          <option value="department"> Depart </option>
          <option value="Course_name" selected> Name </option>

        </select>

        <input class="searchbar" type="text" title="Search">
        <button class="search" type="submit" value="search"></button>

      </form>

    </div>

    <table>

      <thead>
        <tr>
          <th>ID</th>
          <th>Course name</th>
          <th>Department</th>
          <th class="last">Number of students</th>
        </tr>
      </thead>

      <tbody id="myTable">
        {% for m in coursesview %}
        <tr>
          <td>{{m.courseCode}}</td>
          <td>{{m.courseName}}</td>
          <td>{{m.courseDepartment}}</td>
          <td>0</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>

  <!--<script src="{%static 'js/course.js'%}"></script>-->
{%endblock%}