<nav>
    <ul>
        <li>
            <a href="{%url 'home'%}" class="now">Home</a>
        </li>
        <li>
            <a href="{%url 'addCourse'%}">
                add courses</a>
        </li>
        <li>
            <a href="{%url 'addStudent'%}"> add students</a>
        </li>
        <li>
            <a href="{%url 'courses'%}"> view courses</a>
        </li>
        <li>
            <a href="{%url 'students'%}">view students</a>
        </li>
        <li style="float: right;">
            <a href="{%url 'login'%}">Sign out</a>
        </li>
    </ul>
</nav>